.wk_8ss6fr0 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  outline: none;
  border: none;
  cursor: pointer;
  height: 56px;
  padding: 0 16px;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
}.wk_1tsh2b50 {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition-property: background,color,opacity;
  transition-duration: 0.2s;
  text-decoration: none;
}
.wk_1tsh2b50::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wk_1tsh2b50::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}.wk_15zdh2b0 {
  width: 24px;
  height: 24px;
  border-radius: 100%;
  overflow: hidden;
}
.wk_15zdh2b1 {
  width: 100%;
  height: 100%;
}
.wk_15zdh2b2 {
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg,#007aff 0%, #5856d6 100%);
}.wk_1qnig4j0 {
  height: 40px;
  padding: 0 12px;
  font-size: 14px;
  line-height: 17px;
  border-radius: var(--wk-radii-connectButton);
  background: var(--wk-colors-connectButtonBackground);
  color: var(--wk-colors-connectButtonText);
  gap: 8px;
}
@media (hover: hover) and (pointer: fine) {
  .wk_1qnig4j0:hover {
    background: var(--wk-colors-connectButtonBackgroundHover);
    color: var(--wk-colors-connectButtonTextHover);
  }
}
@media screen {
  .wk_1qnig4j0:active {
    background: var(--wk-colors-connectButtonBackgroundHover);
    color: var(--wk-colors-connectButtonTextHover);
  }
}.wk_mr1cht0 {
  display: flex;
  align-items: center;
  gap: 8px;
}
.wk_mr1cht0 svg {
  width: 24px;
  height: 24px;
}
.wk_mr1cht1 {
  color: #fff;
  background: var(--wk-colors-error);
}
.wk_mr1cht2 {
  gap: 4px;
}
.wk_mr1cht3 {
  border-radius: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.wk_mr1cht4 {
  gap: 0;
  padding: 0;
}
.wk_mr1cht5 {
  padding: 4px 12px;
}
.wk_mr1cht6 {
  height: 24px;
  width: 1px;
  background: var(--wk-colors-disabled);
}
.wk_mr1cht7 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  height: 100%;
  padding: 4px 12px;
}
@media (hover: hover) and (pointer: fine) {
  .wk_mr1cht1:hover {
    color: #fff;
    background: var(--wk-colors-errorActive);
  }
}
@media screen {
  .wk_mr1cht1:active {
    color: #fff;
    background: var(--wk-colors-errorActive);
  }
}.wk_4ua39r0 {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: var(--wk-zIndices-toast);
  padding: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  pointer-events: none;
  width: 100%;
  color: var(--wk-colors-text);
  max-width: 500px;
}
.wk_4ua39r1 {
  display: inline-flex;
  align-items: center;
  padding: 16px;
  margin: 8px;
  background: var(--wk-colors-toastBackground);
  position: relative;
  box-shadow: var(--wk-shadows-toast);
  border-radius: var(--wk-radii-toast);
  word-wrap: break-word;
  pointer-events: all;
}
.wk_4ua39r2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.wk_4ua39r3 {
  margin-left: 8px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
}@keyframes wk_1d16yiq0 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes wk_1d16yiq1 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.wk_1d16yiq2 {
  animation: wk_1d16yiq0 0.2s forwards;
}
.wk_1d16yiq3 {
  animation: wk_1d16yiq1 0.2s forwards;
}@keyframes wk_vp33rg0 {
  0% {
    opacity: 0;
    transform: translateY(-24px) scale(0.85);
    max-height: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
    max-height: 200px;
  }
}
@keyframes wk_vp33rg1 {
  0% {
    opacity: 1;
    transform: scale(1);
    max-height: 200px;
  }
  50% {
    opacity: 0;
    transform: scale(0.85);
    max-height: 0;
  }
  100% {
    opacity: 0;
    transform: scale(0.85);
    max-height: 0;
  }
}
.wk_vp33rg2 {
  animation: wk_vp33rg0 0.4s forwards;
  transform-origin: 50% 50% 0px;
}
.wk_vp33rg3 {
  animation: wk_vp33rg1 0.4s forwards;
  transform-origin: 50% 50% 0px;
}@keyframes wk_5v4qmj0 {
  0% {
    transform: translateY(40%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes wk_5v4qmj1 {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(40%);
  }
}
.wk_5v4qmj2 {
  animation: wk_5v4qmj0 0.2s forwards ease-out;
  transform-origin: bottom center;
}
.wk_5v4qmj3 {
  animation: wk_5v4qmj1 0.2s forwards ease-out;
  transform-origin: bottom center;
}.wk_39u64j0 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 32px;
  text-align: center;
}.wk_lcqxt50 {
  display: flex;
  justify-content: center;
  margin-top: 32px;
}.wk_5tb0n10 {
  font-weight: 600;
  display: flex;
  font-size: 24px;
  line-height: 29px;
  justify-content: center;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .wk_5tb0n10 {
    font-size: 18px;
    line-height: 22px;
  }
}@keyframes wk_1tdtrn13 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.wk_1tdtrn10 {
  position: relative;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wk_1tdtrn11 {
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wk_1tdtrn11 > * {
  width: 80px;
  height: 80px;
}
.wk_1tdtrn12 {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  border: 2px solid var(--wk-colors-error);
  margin-top: 2px;
}
.wk_1tdtrn14 {
  animation: wk_1tdtrn13 1200ms linear infinite;
  position: absolute;
  left: 50%;
  transform-origin: 1px 50%;
  margin-top: 2px;
}.wk_1kkhpvo0 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 8px;
}.wk_1yyv3p0 {
  display: flex;
  max-width: 340px;
  font-size: 18px;
  text-align: center;
  line-height: 22px;
  font-weight: 400;
  color: var(--wk-colors-textSecondary);
}.wk_6n708y0 {
  display: flex;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  align-items: center;
  justify-content: center;
  color: var(--wk-colors-error);
  gap: 4px;
}.wk_gf732y0 {
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
}.wk_1pj77g51 {
  margin-top: 32px;
}
.wk_1pj77g52 {
  height: 56px;
  width: 100%;
  border-radius: var(--wk-radii-button);
  background: var(--wk-colors-buttonBackground);
  color: var(--wk-colors-buttonText);
}
.wk_1pj77g53 {
  margin-top: 40px;
  margin-bottom: -8px;
}
@media (hover: hover) and (pointer: fine) {
  .wk_1pj77g52:hover {
    background: var(--wk-colors-buttonBackgroundHover);
    color: var(--wk-colors-buttonTextHover);
  }
}
@media screen {
  .wk_1pj77g52:active {
    background: var(--wk-colors-buttonBackgroundHover);
    color: var(--wk-colors-buttonTextHover);
  }
}
@media screen and (max-width: 767px) {
  .wk_1pj77g53 {
    margin-top: 24px;
    margin-bottom: -16px;
  }
}.wk_1kv4m180 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 24px;
  column-gap: 15px;
}
.wk_1kv4m181 {
  height: 50px;
  width: 100%;
  gap: 10px;
  border: 1px solid;
  border-radius: var(--wk-radii-noWalletButton);
  background: var(--wk-colors-noWalletButtonBackground);
  border-color: var(--wk-colors-noWalletButtonBorder);
  color: var(--wk-colors-noWalletButtonText);
}
@media screen and (max-width: 767px) {
  .wk_1kv4m180 {
    row-gap: 16px;
    column-gap: 4.5px;
  }
}
@media (hover: hover) and (pointer: fine) {
  .wk_1kv4m181:hover {
    background: var(--wk-colors-noWalletButtonBackgroundHover);
    color: var(--wk-colors-noWalletButtonTextHover);
    border-color: var(--wk-colors-noWalletButtonBorderHover);
  }
}
@media screen {
  .wk_1kv4m181:active {
    background: var(--wk-colors-noWalletButtonBackgroundHover);
    color: var(--wk-colors-noWalletButtonTextHover);
    border-color: var(--wk-colors-noWalletButtonBorderHover);
  }
}.wk_icsuui0 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 111px;
}
.wk_icsuui1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  padding: 8px 0;
  border-radius: 16px;
  gap: 8px;
  width: 100%;
  height: auto;
  color: var(--wk-colors-textSecondary);
  background: transparent;
}
.wk_icsuui2 {
  font-size: 16px;
  line-height: 19px;
  font-weight: 600;
  text-align: center;
}
.wk_icsuui3 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 68px;
  height: 68px;
  border-radius: 16px;
  overflow: hidden;
  flex-shrink: 0;
}
.wk_icsuui3 > * {
  width: 100%;
  height: 100%;
}
.wk_icsuui4 {
  cursor: not-allowed;
  opacity: 0.3;
}
@media screen and (max-width: 767px) {
  .wk_icsuui0 {
    height: 99px;
  }
  .wk_icsuui2 {
    font-size: 12px;
    line-height: 15px;
  }
  .wk_icsuui3 {
    width: 60px;
    height: 60px;
  }
}
@media (hover: hover) and (pointer: fine) {
  .wk_icsuui1:hover {
    background: var(--wk-colors-walletOptionBackgroundHover);
  }
  .wk_icsuui4:hover {
    background: transparent;
  }
}
@media screen {
  .wk_icsuui1:active {
    background: var(--wk-colors-walletOptionBackgroundHover);
  }
  .wk_icsuui4:active {
    background: transparent;
  }
}.wk_p6d47b0 {
  text-decoration: none;
}
.wk_p6d47b0:visited {
  color: unset;
}
@media (hover: hover) and (pointer: fine) {
  .wk_p6d47b0:hover {
    color: var(--wk-colors-primaryActive);
  }
}
@media screen {
  .wk_p6d47b0:active {
    color: var(--wk-colors-primaryActive);
  }
}.wk_103bdh40 {
  gap: 16px;
}
.wk_103bdh41 {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  font-weight: 400;
}.wk_14xs38r0 {
  height: 68px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: var(--wk-radii-walletOption);
  color: var(--wk-colors-walletOptionText);
  background: var(--wk-colors-walletOptionBackground);
  width: 100%;
}
.wk_14xs38r1 {
  flex: 1;
  font-size: 18px;
  font-weight: 600;
  text-align: left;
}
.wk_14xs38r2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 52px;
  border-radius: var(--wk-radii-walletOptionIcon);
  overflow: hidden;
}
.wk_14xs38r3 {
  cursor: not-allowed;
  opacity: 0.3;
}
@media (hover: hover) and (pointer: fine) {
  .wk_14xs38r0:hover {
    color: var(--wk-colors-walletOptionTextHover);
    background: var(--wk-colors-walletOptionBackgroundHover);
  }
  .wk_14xs38r3:hover {
    color: var(--wk-colors-walletOptionText);
    background: var(--wk-colors-walletOptionBackground);
  }
}
@media screen {
  .wk_14xs38r0:active {
    color: var(--wk-colors-walletOptionTextHover);
    background: var(--wk-colors-walletOptionBackgroundHover);
  }
  .wk_14xs38r3:active {
    color: var(--wk-colors-walletOptionText);
    background: var(--wk-colors-walletOptionBackground);
  }
}.wk_10uam7v0 {
  margin-top: 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: var(--wk-colors-textSecondary);
  text-align: center;
}@keyframes wk_11czuek0 {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: -100% 0;
  }
}
.wk_11czuek1 {
  width: 100%;
  height: 100%;
  opacity: 0.1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  pointer-events: none;
}
.wk_11czuek1::before {
  content: "";
  z-index: 3;
  position: absolute;
  inset: 0;
  background-position: initial;
  background-repeat: repeat;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: initial;
  background-size: 1.888% 1.888%;
  background-image: radial-gradient(var(--wk-colors-qrCodeDot) 41%,transparent 41%);
}
.wk_11czuek1::after {
  content: "";
  z-index: 5;
  position: absolute;
  inset: 0;
  transform: scale(2) rotate(45deg);
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 50%, rgb(255, 255, 255), rgba(255, 255, 255, 0));
  background-size: 200% 100%;
  animation: 1000ms linear 0s infinite normal both running wk_11czuek0;
}
.wk_11czuek2 {
  z-index: 4;
  position: absolute;
  background: var(--wk-colors-qrCodeDot);
  border-radius: 8px;
  width: 13.2%;
  height: 13.2%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 3px var(--wk-colors-modalBackground);
}
.wk_11czuek2::before {
  content: "";
  width: 71.4%;
  height: 71.4%;
  border-radius: 4px;
  border: 4px solid var(--wk-colors-modalBackground);
}
.wk_11czuek2:nth-child(1) {
  left: 0;
  top: 0;
}
.wk_11czuek2:nth-child(2) {
  right: 0;
  top: 0;
}
.wk_11czuek2:nth-child(3) {
  left: 0;
  bottom: 0;
}.wk_fpmbrp0 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 240px;
  height: 240px;
  overflow: hidden;
  font-size: 0;
  border: 1px solid;
  border-color: var(--wk-colors-qrCodeBorder);
  border-radius: var(--wk-radii-qrCode);
}
.wk_fpmbrp1 {
  width: 212px;
  height: 212px;
  position: relative;
}
.wk_fpmbrp2 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: inline-flex;
  border-radius: 12px;
  overflow: hidden;
}
.wk_fpmbrp2 > svg {
  width: 100%;
  height: 100%;
}.wk_1oef6h60 {
  align-items: center;
}
.wk_1oef6h61 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  gap: 4px;
  cursor: pointer;
}.wk_tv8r0i0 {
  position: absolute;
  background: var(--wk-colors-modalBackground);
  padding: 48px 24px;
  width: calc(100% - 32px);
  max-width: 484px;
  border-radius: var(--wk-radii-modal);
}
@media screen and (max-width: 767px) {
  .wk_tv8r0i0 {
    width: 100%;
    max-width: 100vw;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding-bottom: 40px;
    left: 0;
    bottom: 0;
  }
}.wk_png6hg0 {
  z-index: var(--wk-zIndices-modal);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--wk-colors-text);
  margin: 0;
  padding: 0;
  transition: all 0.3s;
  box-sizing: border-box;
}
.wk_png6hg1 {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--wk-colors-modalOverlay);
}
@media screen and (max-width: 767px) {
  .wk_png6hg0 {
    align-items: flex-end;
  }
}.wk_111ulyg0 {
  width: 24px;
  height: 24px;
  border-radius: var(--wk-radii-navButton);
  padding: 0;
  background: transparent;
  color: var(--wk-colors-navButtonText);
}
@media (hover: hover) and (pointer: fine) {
  .wk_111ulyg0:hover {
    background: var(--wk-colors-navButtonBackgroundHover);
  }
}
@media screen {
  .wk_111ulyg0:active {
    background: var(--wk-colors-navButtonBackgroundHover);
  }
}.wk_1tvk5p0 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  padding: 24px 24px 0;
  width: 100%;
}.wk_q5vaz00 {
  width: 100%;
  max-width: 484px;
}
.wk_q5vaz01 {
  position: relative;
  border: 1px solid;
  border-color: var(--wk-colors-border);
  box-shadow: var(--wk-shadows-normal);
  padding: 24px;
  width: 100%;
  max-width: unset;
}.wk_fmbgnv0 {
  height: 50px;
  width: 100%;
  gap: 8px;
  border: 1px solid;
  border-radius: var(--wk-radii-disconnectButton);
  background: var(--wk-colors-disconnectButtonBackground);
  border-color: var(--wk-colors-disconnectButtonBorder);
  color: var(--wk-colors-disconnectButtonBackgroundText);
}
@media (hover: hover) and (pointer: fine) {
  .wk_fmbgnv0:hover {
    background: var(--wk-colors-disconnectButtonBackgroundHover);
    color: var(--wk-colors-disconnectButtonBackgroundTextHover);
    border-color: var(--wk-colors-disconnectButtonBorderHover);
  }
}
@media screen {
  .wk_fmbgnv0:active {
    background: var(--wk-colors-disconnectButtonBackgroundHover);
    color: var(--wk-colors-disconnectButtonBackgroundTextHover);
    border-color: var(--wk-colors-disconnectButtonBorderHover);
  }
}.wk_t8p9qh0 {
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  display: flex;
  align-items: center;
  gap: 4px;
  max-width: 340px;
  word-break: break-word;
}
.wk_t8p9qh0 svg {
  flex-shrink: 0;
}.wk_1nlyun30 {
  margin-top: 0;
}
.wk_1nlyun31 {
  width: 100px;
  height: 100px;
  margin-bottom: 24px;
}
.wk_1nlyun32 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 24px;
}
.wk_1nlyun33 {
  color: var(--wk-colors-textSecondary);
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
}
@media screen and (max-width: 767px) {
  .wk_1nlyun30 {
    margin-bottom: -16px;
  }
}@keyframes wk_6h47yf1 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.wk_6h47yf0 {
  width: 42px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-shrink: 0;
}
.wk_6h47yf2 {
  animation: wk_6h47yf1 1200ms linear infinite;
  position: absolute;
  left: 0;
  top: 0;
  transform-origin: 100% 100%;
}.wk_9414na0 {
  padding: 4px 8px;
  gap: 8px;
  width: 100%;
  height: auto;
  flex-shrink: 0;
  color: var(--wk-colors-chainOptionText);
  background: var(--wk-colors-chainOptionBackground);
  border-radius: var(--wk-radii-chainOption);
}
.wk_9414na1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  overflow: hidden;
  background: #fff;
  flex-shrink: 0;
}
.wk_9414na2 {
  display: flex;
  flex: 1;
  text-align: left;
  font-size: 16px;
  line-height: 19px;
  font-weight: 600;
  padding: 8px 0;
}
.wk_9414na3 {
  color: var(--wk-colors-primary);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  flex-shrink: 0;
}
@media screen and (max-width: 767px) {
  .wk_9414na0 {
    padding: 3px 8px 3px 4px;
    gap: 4px;
  }
}
@media (hover: hover) and (pointer: fine) {
  .wk_9414na0:hover {
    color: var(--wk-colors-chainOptionTextHover);
    background: var(--wk-colors-chainOptionBackgroundHover);
  }
}
@media screen {
  .wk_9414na0:active {
    color: var(--wk-colors-chainOptionTextHover);
    background: var(--wk-colors-chainOptionBackgroundHover);
  }
}.wk_axpcjv2 {
  margin-top: 0;
}
.wk_axpcjv3 {
  line-height: 19px;
  font-size: 16px;
  text-align: center;
  font-weight: 400;
  color: var(--wk-colors-textSecondary);
  margin-bottom: 24px;
}
.wk_axpcjv4 {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
  line-height: 1.5;
  width: 100%;
  max-height: 360px;
}
.wk_axpcjv5 {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  margin: 16px 0;
  color: var(--wk-colors-disabled);
}
@media screen and (max-width: 767px) {
  .wk_axpcjv0 {
    margin-top: -8px;
  }
  .wk_axpcjv1 {
    margin-top: 24px;
  }
  .wk_axpcjv2 {
    margin-bottom: -16px;
  }
}.wk_z38mj50 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  outline: none;
  border: none;
  cursor: pointer;
  height: 56px;
  padding: 0 16px;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
}.wk_1waem7m0 {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition-property: background,color,opacity;
  transition-duration: 0.2s;
  text-decoration: none;
}
.wk_1waem7m0::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wk_1waem7m0::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}.wk_1xca9i30 {
  width: 24px;
  height: 24px;
  border-radius: 100%;
  overflow: hidden;
}
.wk_1xca9i31 {
  width: 100%;
  height: 100%;
}
.wk_1xca9i32 {
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg,#007aff 0%, #5856d6 100%);
}.wk_1op870y0 {
  height: 40px;
  padding: 0 12px;
  font-size: 14px;
  line-height: 17px;
  border-radius: var(--wk-radii-connectButton);
  background: var(--wk-colors-connectButtonBackground);
  color: var(--wk-colors-connectButtonText);
  gap: 8px;
}
@media (hover: hover) and (pointer: fine) {
  .wk_1op870y0:hover {
    background: var(--wk-colors-connectButtonBackgroundHover);
    color: var(--wk-colors-connectButtonTextHover);
  }
}
@media screen {
  .wk_1op870y0:active {
    background: var(--wk-colors-connectButtonBackgroundHover);
    color: var(--wk-colors-connectButtonTextHover);
  }
}.wk_12qpizs0 {
  display: flex;
  align-items: center;
  gap: 8px;
}
.wk_12qpizs0 svg {
  width: 24px;
  height: 24px;
}
.wk_12qpizs1 {
  color: #fff;
  background: var(--wk-colors-error);
}
.wk_12qpizs2 {
  gap: 4px;
}
.wk_12qpizs3 {
  border-radius: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.wk_12qpizs4 {
  gap: 0;
  padding: 0;
}
.wk_12qpizs5 {
  padding: 4px 12px;
}
.wk_12qpizs6 {
  height: 24px;
  width: 1px;
  background: var(--wk-colors-disabled);
}
.wk_12qpizs7 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  height: 100%;
  padding: 4px 12px;
}
@media (hover: hover) and (pointer: fine) {
  .wk_12qpizs1:hover {
    color: #fff;
    background: var(--wk-colors-errorActive);
  }
}
@media screen {
  .wk_12qpizs1:active {
    color: #fff;
    background: var(--wk-colors-errorActive);
  }
}.wk_1a0u1cb0 {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: var(--wk-zIndices-toast);
  padding: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  pointer-events: none;
  width: 100%;
  color: var(--wk-colors-text);
  max-width: 500px;
}
.wk_1a0u1cb1 {
  display: inline-flex;
  align-items: center;
  padding: 16px;
  margin: 8px;
  background: var(--wk-colors-toastBackground);
  position: relative;
  box-shadow: var(--wk-shadows-toast);
  border-radius: var(--wk-radii-toast);
  word-wrap: break-word;
  pointer-events: all;
}
.wk_1a0u1cb2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.wk_1a0u1cb3 {
  margin-left: 8px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
}@keyframes wk_yyywyo0 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes wk_yyywyo1 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.wk_yyywyo2 {
  animation: wk_yyywyo0 0.2s forwards;
}
.wk_yyywyo3 {
  animation: wk_yyywyo1 0.2s forwards;
}@keyframes wk_a0ev0x0 {
  0% {
    opacity: 0;
    transform: translateY(-24px) scale(0.85);
    max-height: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
    max-height: 200px;
  }
}
@keyframes wk_a0ev0x1 {
  0% {
    opacity: 1;
    transform: scale(1);
    max-height: 200px;
  }
  50% {
    opacity: 0;
    transform: scale(0.85);
    max-height: 0;
  }
  100% {
    opacity: 0;
    transform: scale(0.85);
    max-height: 0;
  }
}
.wk_a0ev0x2 {
  animation: wk_a0ev0x0 0.4s forwards;
  transform-origin: 50% 50% 0px;
}
.wk_a0ev0x3 {
  animation: wk_a0ev0x1 0.4s forwards;
  transform-origin: 50% 50% 0px;
}@keyframes wk_1e1xc6t0 {
  0% {
    transform: translateY(40%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes wk_1e1xc6t1 {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(40%);
  }
}
.wk_1e1xc6t2 {
  animation: wk_1e1xc6t0 0.2s forwards ease-out;
  transform-origin: bottom center;
}
.wk_1e1xc6t3 {
  animation: wk_1e1xc6t1 0.2s forwards ease-out;
  transform-origin: bottom center;
}.wk_4uu4m50 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 32px;
  text-align: center;
}.wk_9l6u1v0 {
  display: flex;
  justify-content: center;
  margin-top: 32px;
}.wk_35keg60 {
  font-weight: 600;
  display: flex;
  font-size: 24px;
  line-height: 29px;
  justify-content: center;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .wk_35keg60 {
    font-size: 18px;
    line-height: 22px;
  }
}@keyframes wk_b59bwc3 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.wk_b59bwc0 {
  position: relative;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wk_b59bwc1 {
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wk_b59bwc1 > * {
  width: 80px;
  height: 80px;
}
.wk_b59bwc2 {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  border: 2px solid var(--wk-colors-error);
  margin-top: 2px;
}
.wk_b59bwc4 {
  animation: wk_b59bwc3 1200ms linear infinite;
  position: absolute;
  left: 50%;
  transform-origin: 1px 50%;
  margin-top: 2px;
}.wk_18smx6q0 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 8px;
}.wk_ppenxo0 {
  display: flex;
  max-width: 340px;
  font-size: 18px;
  text-align: center;
  line-height: 22px;
  font-weight: 400;
  color: var(--wk-colors-textSecondary);
}.wk_qyavu00 {
  display: flex;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  align-items: center;
  justify-content: center;
  color: var(--wk-colors-error);
  gap: 4px;
}.wk_dui69g0 {
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
}.wk_6mqep81 {
  margin-top: 32px;
}
.wk_6mqep82 {
  height: 56px;
  width: 100%;
  border-radius: var(--wk-radii-button);
  background: var(--wk-colors-buttonBackground);
  color: var(--wk-colors-buttonText);
}
.wk_6mqep83 {
  margin-top: 40px;
  margin-bottom: -8px;
}
@media (hover: hover) and (pointer: fine) {
  .wk_6mqep82:hover {
    background: var(--wk-colors-buttonBackgroundHover);
    color: var(--wk-colors-buttonTextHover);
  }
}
@media screen {
  .wk_6mqep82:active {
    background: var(--wk-colors-buttonBackgroundHover);
    color: var(--wk-colors-buttonTextHover);
  }
}
@media screen and (max-width: 767px) {
  .wk_6mqep83 {
    margin-top: 24px;
    margin-bottom: -16px;
  }
}.wk_1bcg55t0 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 24px;
  column-gap: 15px;
}
.wk_1bcg55t1 {
  height: 50px;
  width: 100%;
  gap: 10px;
  border: 1px solid;
  border-radius: var(--wk-radii-noWalletButton);
  background: var(--wk-colors-noWalletButtonBackground);
  border-color: var(--wk-colors-noWalletButtonBorder);
  color: var(--wk-colors-noWalletButtonText);
}
@media screen and (max-width: 767px) {
  .wk_1bcg55t0 {
    row-gap: 16px;
    column-gap: 4.5px;
  }
}
@media (hover: hover) and (pointer: fine) {
  .wk_1bcg55t1:hover {
    background: var(--wk-colors-noWalletButtonBackgroundHover);
    color: var(--wk-colors-noWalletButtonTextHover);
    border-color: var(--wk-colors-noWalletButtonBorderHover);
  }
}
@media screen {
  .wk_1bcg55t1:active {
    background: var(--wk-colors-noWalletButtonBackgroundHover);
    color: var(--wk-colors-noWalletButtonTextHover);
    border-color: var(--wk-colors-noWalletButtonBorderHover);
  }
}.wk_rmakjj0 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 111px;
}
.wk_rmakjj1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  padding: 8px 0;
  border-radius: 16px;
  gap: 8px;
  width: 100%;
  height: auto;
  color: var(--wk-colors-textSecondary);
  background: transparent;
}
.wk_rmakjj2 {
  font-size: 16px;
  line-height: 19px;
  font-weight: 600;
  text-align: center;
}
.wk_rmakjj3 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 68px;
  height: 68px;
  border-radius: 16px;
  overflow: hidden;
  flex-shrink: 0;
}
.wk_rmakjj3 > * {
  width: 100%;
  height: 100%;
}
.wk_rmakjj4 {
  cursor: not-allowed;
  opacity: 0.3;
}
@media screen and (max-width: 767px) {
  .wk_rmakjj0 {
    height: 99px;
  }
  .wk_rmakjj2 {
    font-size: 12px;
    line-height: 15px;
  }
  .wk_rmakjj3 {
    width: 60px;
    height: 60px;
  }
}
@media (hover: hover) and (pointer: fine) {
  .wk_rmakjj1:hover {
    background: var(--wk-colors-walletOptionBackgroundHover);
  }
  .wk_rmakjj4:hover {
    background: transparent;
  }
}
@media screen {
  .wk_rmakjj1:active {
    background: var(--wk-colors-walletOptionBackgroundHover);
  }
  .wk_rmakjj4:active {
    background: transparent;
  }
}.wk_gppdjo0 {
  text-decoration: none;
}
.wk_gppdjo0:visited {
  color: unset;
}
@media (hover: hover) and (pointer: fine) {
  .wk_gppdjo0:hover {
    color: var(--wk-colors-primaryActive);
  }
}
@media screen {
  .wk_gppdjo0:active {
    color: var(--wk-colors-primaryActive);
  }
}.wk_l9bsc0 {
  gap: 16px;
}
.wk_l9bsc1 {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  font-weight: 400;
}.wk_ixu0390 {
  height: 68px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: var(--wk-radii-walletOption);
  color: var(--wk-colors-walletOptionText);
  background: var(--wk-colors-walletOptionBackground);
  width: 100%;
}
.wk_ixu0391 {
  flex: 1;
  font-size: 18px;
  font-weight: 600;
  text-align: left;
}
.wk_ixu0392 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 52px;
  border-radius: var(--wk-radii-walletOptionIcon);
  overflow: hidden;
}
.wk_ixu0393 {
  cursor: not-allowed;
  opacity: 0.3;
}
@media (hover: hover) and (pointer: fine) {
  .wk_ixu0390:hover {
    color: var(--wk-colors-walletOptionTextHover);
    background: var(--wk-colors-walletOptionBackgroundHover);
  }
  .wk_ixu0393:hover {
    color: var(--wk-colors-walletOptionText);
    background: var(--wk-colors-walletOptionBackground);
  }
}
@media screen {
  .wk_ixu0390:active {
    color: var(--wk-colors-walletOptionTextHover);
    background: var(--wk-colors-walletOptionBackgroundHover);
  }
  .wk_ixu0393:active {
    color: var(--wk-colors-walletOptionText);
    background: var(--wk-colors-walletOptionBackground);
  }
}.wk_uhamh00 {
  margin-top: 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: var(--wk-colors-textSecondary);
  text-align: center;
}@keyframes wk_98xod20 {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: -100% 0;
  }
}
.wk_98xod21 {
  width: 100%;
  height: 100%;
  opacity: 0.1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  pointer-events: none;
}
.wk_98xod21::before {
  content: "";
  z-index: 3;
  position: absolute;
  inset: 0;
  background-position: initial;
  background-repeat: repeat;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: initial;
  background-size: 1.888% 1.888%;
  background-image: radial-gradient(var(--wk-colors-qrCodeDot) 41%,transparent 41%);
}
.wk_98xod21::after {
  content: "";
  z-index: 5;
  position: absolute;
  inset: 0;
  transform: scale(2) rotate(45deg);
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 50%, rgb(255, 255, 255), rgba(255, 255, 255, 0));
  background-size: 200% 100%;
  animation: 1000ms linear 0s infinite normal both running wk_98xod20;
}
.wk_98xod22 {
  z-index: 4;
  position: absolute;
  background: var(--wk-colors-qrCodeDot);
  border-radius: 8px;
  width: 13.2%;
  height: 13.2%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 3px var(--wk-colors-modalBackground);
}
.wk_98xod22::before {
  content: "";
  width: 71.4%;
  height: 71.4%;
  border-radius: 4px;
  border: 4px solid var(--wk-colors-modalBackground);
}
.wk_98xod22:nth-child(1) {
  left: 0;
  top: 0;
}
.wk_98xod22:nth-child(2) {
  right: 0;
  top: 0;
}
.wk_98xod22:nth-child(3) {
  left: 0;
  bottom: 0;
}.wk_fij2ad0 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 240px;
  height: 240px;
  overflow: hidden;
  font-size: 0;
  border: 1px solid;
  border-color: var(--wk-colors-qrCodeBorder);
  border-radius: var(--wk-radii-qrCode);
}
.wk_fij2ad1 {
  width: 212px;
  height: 212px;
  position: relative;
}
.wk_fij2ad2 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: inline-flex;
  border-radius: 12px;
  overflow: hidden;
}
.wk_fij2ad2 > svg {
  width: 100%;
  height: 100%;
}.wk_738q5z0 {
  align-items: center;
}
.wk_738q5z1 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  gap: 4px;
  cursor: pointer;
}.wk_18d7hxw0 {
  position: absolute;
  background: var(--wk-colors-modalBackground);
  padding: 48px 24px;
  width: calc(100% - 32px);
  max-width: 484px;
  border-radius: var(--wk-radii-modal);
}
@media screen and (max-width: 767px) {
  .wk_18d7hxw0 {
    width: 100%;
    max-width: 100vw;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding-bottom: 40px;
    left: 0;
    bottom: 0;
  }
}.wk_1enb8r50 {
  z-index: var(--wk-zIndices-modal);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--wk-colors-text);
  margin: 0;
  padding: 0;
  transition: all 0.3s;
  box-sizing: border-box;
}
.wk_1enb8r51 {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--wk-colors-modalOverlay);
}
@media screen and (max-width: 767px) {
  .wk_1enb8r50 {
    align-items: flex-end;
  }
}.wk_hd5ude0 {
  width: 24px;
  height: 24px;
  border-radius: var(--wk-radii-navButton);
  padding: 0;
  background: transparent;
  color: var(--wk-colors-navButtonText);
}
@media (hover: hover) and (pointer: fine) {
  .wk_hd5ude0:hover {
    background: var(--wk-colors-navButtonBackgroundHover);
  }
}
@media screen {
  .wk_hd5ude0:active {
    background: var(--wk-colors-navButtonBackgroundHover);
  }
}.wk_miia460 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  padding: 24px 24px 0;
  width: 100%;
}.wk_nhmefn0 {
  width: 100%;
  max-width: 484px;
}
.wk_nhmefn1 {
  position: relative;
  border: 1px solid;
  border-color: var(--wk-colors-border);
  box-shadow: var(--wk-shadows-normal);
  padding: 24px;
  width: 100%;
  max-width: unset;
}.wk_1igyokz0 {
  height: 50px;
  width: 100%;
  gap: 8px;
  border: 1px solid;
  border-radius: var(--wk-radii-disconnectButton);
  background: var(--wk-colors-disconnectButtonBackground);
  border-color: var(--wk-colors-disconnectButtonBorder);
  color: var(--wk-colors-disconnectButtonBackgroundText);
}
@media (hover: hover) and (pointer: fine) {
  .wk_1igyokz0:hover {
    background: var(--wk-colors-disconnectButtonBackgroundHover);
    color: var(--wk-colors-disconnectButtonBackgroundTextHover);
    border-color: var(--wk-colors-disconnectButtonBorderHover);
  }
}
@media screen {
  .wk_1igyokz0:active {
    background: var(--wk-colors-disconnectButtonBackgroundHover);
    color: var(--wk-colors-disconnectButtonBackgroundTextHover);
    border-color: var(--wk-colors-disconnectButtonBorderHover);
  }
}.wk_ahnltp0 {
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  display: flex;
  align-items: center;
  gap: 4px;
  max-width: 340px;
  word-break: break-word;
}
.wk_ahnltp0 svg {
  flex-shrink: 0;
}.wk_5425yu0 {
  margin-top: 0;
}
.wk_5425yu1 {
  width: 100px;
  height: 100px;
  margin-bottom: 24px;
}
.wk_5425yu2 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 24px;
}
.wk_5425yu3 {
  color: var(--wk-colors-textSecondary);
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
}
@media screen and (max-width: 767px) {
  .wk_5425yu0 {
    margin-bottom: -16px;
  }
}